@model AppData.Entities.BaiHat

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BaiHat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NgheSi" class="control-label"></label>
                <input asp-for="NgheSi" class="form-control" />
                <span asp-validation-for="NgheSi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenBaiHat" class="control-label"></label>
                <input asp-for="TenBaiHat" class="form-control" />
                <span asp-validation-for="TenBaiHat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album" class="control-label"></label>
                <input asp-for="Album" class="form-control" />
                <span asp-validation-for="Album" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheLoai" class="control-label"></label>
                <input asp-for="TheLoai" class="form-control" />
                <span asp-validation-for="TheLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianPhatHanh" class="control-label"></label>
                <input asp-for="ThoiGianPhatHanh" class="form-control" />
                <span asp-validation-for="ThoiGianPhatHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayPhatHanh" class="control-label"></label>
                <input asp-for="NgayPhatHanh" class="form-control" />
                <span asp-validation-for="NgayPhatHanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
